*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../imagens/pexels-aronvisuals-1743165.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
   
    
}
h1{

    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.527);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 20px;
    border-radius: 60px;
    border: 3px solid black;
    
    
}
#content{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.425);
    color: white;
    width: 500px;
}

#botões button{
    font-size: 1.5rem;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-inline: 10px;
    transition-duration: 0.3s;
    border: 1px solid rgb(0, 0, 0);
    font-weight: bold;
}
#iniciar{
    background-color: rgba(0, 0, 0, 0.466);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.486);
    cursor: pointer;
    text-decoration: dashed;
    
}
#parar{
    background-color: rgba(0, 0, 0, 0.466);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.486);
    cursor: pointer;
    text-decoration: dashed;
    
}

#limpar{
    background-color: rgba(0, 0, 0, 0.466);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.486);
    cursor: pointer;
    text-decoration: dashed;
    
}


#iniciar:hover{
    background-color: rgba(0, 0, 0, 0.336);
    
    
}
#parar:hover{
    background-color: rgba(0, 0, 0, 0.336);
    
    
}

#limpar:hover{
    background-color: rgba(0, 0, 0, 0.336);
    
    
}




